<div class="col game text-start">
	<img src="{{ game.cover.url}}" class="game-cover" title="{{game.name}} Cover Art" alt="{{game.name}} Cover Art"/>
	<div class="game-info">
		<h5>{{ game.name }}</h5>
		<h6>{{ getDeveloper game }}</h6>
		<h6 class="release-date">
			{{ getReleaseDate game }}
		</h6>
	</div>
	<div class="game-actions">
		<a href="{{ game.url }}" class="btn btn-igdb game-details" target="_blank"><i class="bi bi-info-square" title="View on IGDB" alt="View on IGDB"></i></a>
		<a href="/login/google?redirect={{ redirect }}" class="btn btn-outline-primary add-game" data-game-id="{{ game.id }}"><i class="bi bi-plus-square" title="Add to List" alt="Add to List"></i></a>
	</div>
</div>


	