<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/assets/css/global.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/tga.css" type="text/css">
    <script type="module" src="/assets/js/main.js"></script>
	<title>{{showcase.title}}</title>
	<meta name="description"
		content="{{showcase.meta_description}}">
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-43FFE374ZZ"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'G-43FFE374ZZ');

	gtag('consent', 'default', {
		'analytics_storage': 'denied'
	});

	if (document.cookie.indexOf("cookie-consent") >= 0) {
		gtag('consent', 'update', {
			'analytics_storage': document.cookie
				.split("; ")
				.find((row) => row.startsWith("cookie-consent="))
				?.split("=")[1]
		});
	}
</script>

<body id="sony-sop">
	<div id="alert-wrapper"></div>
	<div class="container p-0 mb-5">
        <div class="text-center">
            <div class="text-center">
                
                <img src="/assets/img/tga_logo.jpg" alt="The Game Awards Logo" id="tga-logo">
                <h1>{{{showcase.headline}}}</h1>
                <p>{{{showcase.description}}}</p>
                <div class="bg-white text-default">
                    <p><a id="register-top-link" href="/app/?redirect={{ page.url }}">Register now to track game releases
                            you are interested in</a></p>
                    <p>{{{showcase.additional_info}}}</p>
                </div>
                <div class="bg-white">
                    <div class="game-list">
                        {{> "partials/gameList" games=showcase.games redirect=page.url }}
                    </div>
                </div>
            </div>
        </div>
	</div>
	<button type="button" id="to-top-button" class="btn btn-outline-secondary" title="Back to Top"><i
			class="bi bi-arrow-up-square" alt="Back to Top"></i></button>
	<nav class="navbar navbar-expand-lg text-bg-light bottom-0 w-100 footer">
		<div class="container-fluid">
			<div class="navbar-nav flex-row">
				<a class="nav-link p-2" href="/imprint/">Imprint</a>
				<a class="nav-link p-2" href="/privacy_notice/">Privacy</a>
			</div>
		</div>
	</nav>
        <script>
		if (document.cookie.indexOf("cookie-consent") >= 0) {
			document.getElementById("cookie-warning").style.display = "none";
		}

		document.getElementById("accept-cookies").addEventListener("click", () => {
			document.cookie = "cookie-consent=granted; expires=Fri, 31 Dec 9999 23:59:59 GMT";
			document.getElementById("cookie-warning").style.display = "none";
			gtag('consent', 'update', {
				'analytics_storage': 'granted'
			});
		});

		document.getElementById("refuse-cookies").addEventListener("click", () => {
			document.cookie = "cookie-consent=denied; expires=Fri, 31 Dec 9999 23:59:59 GMT";
			document.getElementById("cookie-warning").style.display = "none";
			gtag('consent', 'update', {
				'analytics_storage': 'denied'
			});
		});
	</script>
</body>

</html>